<% include ../template/head %>

<div class="row">
    <div class="card">
      <div class="card-content">
        <span class="card-title grey-text text-darken-4">Unfortunately, an error has occurred.</span>
        <p><%= message %></p>
        <p><%= stack %></p>
      </div>
    </div>
</div>

<% include ../template/foot %>
