<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">PhishSploit</a>
    <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/phish">Phish</a></li>
      <li><a href="/exploits/type/webapps">Exploits</a></li>
      <li><a href="/frequency">Frequency</a></li>
      <li><a href="/search">Search</a></li>
      <li><a href="/about">About</a></li>
    </ul>
    <ul class="side-nav" id="mobile-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/phish">Phish</a></li>
      <li><a href="/exploits">Exploits</a></li>
      <li><a href="/frequency">Frequency</a></li>
      <li><a href="/search">Search</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
</nav>
